html,body{
    height: 100%
}
body{
    margin:0px;
    padding:0px;
    background: rgb(235, 228, 226);
    font-family: 'Roboto';
    font-size: 12pt;
}
h1,h2,h3{
    margin: 0;
    padding: 0;
    color: #404040;
}
p, ol, ul{
    margin-top: 0;

}
p{
    line-height: 180%;

}
ol, ul{
    padding: 0;
    list-style: none;
}
.container{
   
    margin: 0px auto;
    width: 1200px;
}

header{
    /* prevent the header from overflowing on browser resize*/
    overflow: hidden;
}
#top-header{
    text-align: center;
    height: 60px;
}
#logo{
    float: left;
    padding: none;
    height: 60px;
    width: 30%;
}
#logo img{
    float: left;
    width:60%;
    padding: 10px 0px;
}
#menu{
    float: right;
    width: 70%;
    margin: none;
}
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: #0074D9;
}
#menu li{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;  
}
#menu li a{
    color: #FFF;
    text-decoration: none;
}
#menu li:hover a, #menu li span{
    background: #FFF;
    color: #0074D9;
    border-left: 1px solid #0074D9;
    text-decoration: none;
}
#header-image-menu{
    top: 10px;
    position: relative;
}
#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}
#image-text{
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: #000;
    transform: translate(-30%, -30%);
    text-align: centre;
}
#welcome{
    overflow: hidden;
    width: 1000px;
    margin: 0px auto;
}
#welcome .title{
    margin-top: 20px;
    padding: 20px 30%;
    text-align: centre;
}
#welcome p{
    margin-bottom: 40px;
    text-align: center;
}
#welcome p a{
    text-decoration: none;
}
#selector-2{
    overflow: hidden;
    margin-top: 5em;
    padding-top: 1em;
    border-top: 1px solid rgba(0,0,0,0.2);
    text-align: center;
}
/*aligning the columns */
#row #column1,
#row #column2,
#row #column3{
    float: left;
    width: 320px;
    padding: 80px 40px 80px 40px
}
/* styling the titles of the columns */
.column-title{
    margin: 1em 0em;
    font-size: 1.6em;
    font-weight: 700;
}
.button{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid 4CAF50;
    padding: 16px 32px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /*for safari browser */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: #4CAF50;
}
#section-3{
    overflow: hidden;
    padding-top: 5em;
    border-top: 1px solid rgba(0,0,0,0.2);
    text-align: centre;
}

#column21,
#column22,
#column23,
#column24{
    width:282px;
    text-align: center;
}
/*float 3 columns to the left and one to the right */

#column21{
    margin-left: 35px;
}

#column21,
#column22,
#column23{
    float: left;
    margin-right: 28px;
}
#column24{
    float: right;
    margin-right: 100px;
}
.image{
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}
.image img{
    display: block;
    width: 100%;
}
.image-full{
    display: block;
    width: 100%;
    margin: 0 0 3em 0;

}
.img-title{
    display: block;
    padding-bottom: 1em;
    font-size: 1em;
    color: rgba(0,0,0,0.6);
}
.company-details{
    overflow: hidden;
    padding: 3em 0em;
    background: #E3F0F7;
    text-align: center;
    margin-top: 5em;
}
/* align the three columns in one line by floating all of them to the left 
and assigning a width of 320px for each of them */
#footer #col1,
#footer #col2,
#footer #col3{
    float: left;
    width: 320px;
    padding: 0px 0px 0px 40px;
}
/*add styles t facebook and pinterest icons */
#footer #icon{
    display: block;
    margin-bottom: 1em;
    font-size: 3em;
}
/*style the copyright icon */
.copyright{
    overflow: hidden;
    padding: 3em 0em;
    border-top: 20px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    background: #4CAF50;
}
/* adding style to the paragraph element */
.copyright p{
    letter-spacing: 1px;
    font-size: 0.90em;
    color: rgba(255, 255, 255, 0.6);
}
/* adding styles to the anchor tag */
.copyright{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
ul.contact{ 
	margin: 0; 
	padding: 2em 0em 0em 0em; 
	list-style: none; 
} 
ul.contact li{ 
	display: inline-block; 
	padding: 0em 0.10em; 
	font-size: 1em; 
} 
ul.contact li a{ 
	color: #FFF; 
	display: inline-block; 
	background: #4C93B9; 
	width: 40px; 
	height: 40px; 
	line-height: 40px; 
    text-align: center; 
    text-decoration: none;
} 
